<p>AngularJS is a JavaScript-based open-source 
    front-end web framework mainly maintained by
    Google and by a community of individuals and 
    corporations to address many of the challenges 
    encountered in developing single-page applications.
    It aims to simplify both the development and the testing
    of such applications by providing a framework for client-side
    model–view–controller (MVC) and model–view–viewmodel (MVVM) architectures, 
    along with components commonly used in rich Internet applications.
</p>
<p>
    to decouple DOM manipulation from application logic. The difficulty of this is dramatically affected by the way the code is structured.
to decouple the client side of an application from the server-side. This allows development work to progress in parallel and allows for reuse of both sides.
to provide structure for the journey of building an application: from designing the UI, through writing the business logic, to testing.
</p>

