<h1>What is Angular?</h1>
<p>
    Angular Js is JS Framework.<br>
    it is an open source web-application framework.<br>
    Angular Js is a framework to build large scale,<br>
    high-performance and easy-to 
    maintain applications.<br>
</p>

<h1>What is Component?</h1>
<p>
   Components are major parts in Angular<br>
   Its basically consists of 4 files<br>
   template file which is also called as HTML files<br>
   Style sheet which is CSS file<br>
   Business Logic File which is ts file<br>
   Testing file<br>

</p>